backend/data/original/01_Microstructures_data/** filter=lfs diff=lfs merge=lfs -text
backend/data/original/02_Rendered_walls_photos/** filter=lfs diff=lfs merge=lfs -text
backend/data/downscaled/** filter=lfs diff=lfs merge=lfs -text
